.repo-listItems, .repo-listItems a {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1%;
}

.repo-listItems a {
  border-bottom: inset rgba(0, 0, 0, 0.2);
}

.repo-listItems .repo-listText {
  text-align: center;
  padding: none;
}

.list-root, nav {
  max-width: 93vw;
  width: 100%;
  margin: 0 auto;
}

.list-root .repo-listText {
  text-align: center;
}

.list-nested {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 275px;
  overflow: auto;
  margin: 0 auto;
}

